@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
  background: #E9B100;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.demo-wrap {
  max-width: 700px;
  margin: auto;

  .rect-outer {
    padding: 100% 0 0;
  }

  .labels {
    li {
      position: absolute;
      font-size: 25px;
      left: 0;
      top: 0;
      opacity: 0;

      &:nth-child(1) {
        left: 73%;
        top: 20%;
        color: #303990;
      }
      &:nth-child(2) {
        left: 89%;
        top: 46.7%;
        color: #EB8F00;
      }
      &:nth-child(3) {
        left: 95%;
        top: 60%;
        color: #5BB446;
      }
      &:nth-child(4) {
        left: 88.3%;
        top: 67.8%;
        color: #5CA3BC;
      }
      &:nth-child(5) {
        left: 77.3%;
        top: 71.8%;
        color: #9E0855;
      }
      &:nth-child(6) {
        left: 88.3%;
        top: 85.8%;
        color: #3A4232;
      }
      &:nth-child(7) {
        left: 72.3%;
        top: 87.2%;
        color: #F9EB00;
      }
      &:nth-child(8) {
        left: 55.3%;
        top: 91.2%;
        color: #B47CB9;
      }
      &:nth-child(9) {
        left: 14.3%;
        top: 74.8%;
        color: #66A99B;
      }
      &:nth-child(10) {
        left: 10.9%;
        top: 20.5%;
        color: #B5A3CA;
      }
      &:nth-child(11) {
        left: 33.9%;
        top: 23.9%;
        color: #8AC7A2;
      }
    }
  }
}